body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
figcaption,
figure,
fieldset,
legend,
button,
input,
textarea,
th,
td,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1 PingFangSC-light, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
}

h1 {
  font-size: 18px;
  font-weight: normal
}

h2 {
  font-size: 16px;
  font-weight: normal
}

h3 {
  font-size: 14px;
  font-weight: normal
}

h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

ul,
ol,
li {
  list-style: none
}

a {
  text-decoration: none;
  color: #3C3C3C;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a,
img,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help
}

q:before,
q:after {
  content: ''
}

legend {
  color: #000
}

fieldset,
img {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  border: 0;
  height: 1px
}

i {
  font-style: normal;
  font-weight: 100;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #F5F7FA;
}

.wd-flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.lines-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lines-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}